{% load staticfiles %}
    <!-- / required javascripts -->
    <script type="text/javascript" src="{% static "books/javascripts/jquery/jquery.min.js"%}"></script>
    <script type="text/javascript" src="{% static "books/javascripts/jquery/jquery.mobile.custom.min.js"%}"></script>
    <script type="text/javascript" src="{% static "books/javascripts/bootstrap/bootstrap.min.js"%}"></script>
    <script type="text/javascript" src="{% static "books/javascripts/plugins/modernizr/modernizr.custom.min.js"%}"></script>
    <script type="text/javascript" src="{% static "books/javascripts/plugins/hover_dropdown/twitter-bootstrap-hover-dropdown.min.js"%}"></script>
    <script type="text/javascript" src="{% static "books/javascripts/plugins/retina/retina.min.js"%}"></script>
    <script type="text/javascript" src="{% static "books/javascripts/plugins/knob/jquery.knob.js"%}"></script>
    <script type="text/javascript" src="{% static "books/javascripts/plugins/isotope/jquery.isotope.min.js"%}"></script>
    <script type="text/javascript" src="{% static "books/javascripts/plugins/isotope/jquery.isotope.sloppy-masonry.min.js"%}"></script>
    <script type="text/javascript" src="{% static "books/javascripts/plugins/validate/jquery.validate.min.js"%}"></script>
    <script type="text/javascript" src="{% static "books/javascripts/plugins/flexslider/jquery.flexslider.min.js"%}"></script>
    <script type="text/javascript" src="{% static "books/javascripts/plugins/countdown/countdown.js"%}"></script>
    <script type="text/javascript" src="{% static "books/javascripts/plugins/nivo_lightbox/nivo-lightbox.min.js"%}"></script>
    <script type="text/javascript" src="{% static "books/javascripts/plugins/cycle/jquery.cycle.all.min.js"%}"></script>
    <script type="text/javascript" src="{% static "books/javascripts/jednotka.js"%}"></script>
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-8136074-3']);
_gaq.push(['_trackPageview']);

(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

    </script>
