<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Cara McKenna | Books</title>
        <meta name="Keywords" content="Cara McKenna, Meg Maguire, erotic, erotica, smart erotica, romance, Ellora's Cave, Loose Id, Samhain, Harlequin Blaze, author, writer, Brazen, Shivaree, Ruin Me, Willing Victim, Ready and Willing, Backwoods, Dirty Thirty, Reluctant Nude, Caught on Camera, Getaway, Trespass, Skin Game, Don't Call Her Angel, Headstrong, Stray Hearts, Curio" />
        <link href='/dist/css/bootstrap.css' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One|Parisienne|Fanwood+Text:400,400italic' rel='stylesheet' type='text/css'>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href='/cara.css' rel='stylesheet' type='text/css'>
        <title>Cara McKenna &amp; Meg Maguire | News<></title>
        <script src="//code.jquery.com/jquery.js"></script>
        <script type="text/javascript" src="/dist/js/bootstrap.js"></script>

        <script type="text/javascript">
            function MM_swapImgRestore() { //v3.0
                var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
            }
function MM_preloadImages() { //v3.0
    var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
        var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
            if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
    var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
        d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
    if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
    for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
    if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
    var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
        if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
<body>


    <div class="container">
        <div class="row content-wrap" style="background-image:url('/images/banner.jpg'); height:200px;">
            <div class="col-xs-9"><a href="/" style="display:block; height:195px;"> </a></div>

            <div class="col-xs-3" style="background-image:url('/images/wax.png'); margin-top:20px; height:155px; width:162px;"><div class="wax-text"><a href="mailto:cara@caramckenna.com">email</a><br><a href="https://twitter.com/caramckenna" target="new">twitter</a><br><a href="http://superluckyfun.tumblr.com/" target="new">tumblr</a><br><a href="http://wonkomance.com/author/cara/" target="new">blog</a></div></div>
        </div>

        <!-- nav begin -->
        <div class="row content-wrap">

            <div class="col-xs-12"> <img src="/images/nav_left.jpg" width="50" height="85"><a href="/index.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('news','','/images/nav_news_on.jpg',1)"><img src="/images/nav_news_off.jpg" width="210" height="85" alt="news" id="news"></a><a href="/books" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('books','','/images/nav_books_on.jpg',1)"><img src="/images/nav_books_on.jpg" width="223" height="85" alt="books" id="books"></a><a href="/about.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('about','','/images/nav_about_on.jpg',1)"><img src="/images/nav_about_off.jpg" alt="about" width="202" height="85" alt="about" id="about"></a><img src="/images/nav_right.jpg"></div>
        </div>
        <!-- nav end --> 

        <!-- content begin -->
        <div class="row content-wrap" style="padding-bottom:25px;">
            <div class="col-xs-10 col-xs-offset-2" style="margin-left:50px; background:#ffffff; width:860px;">

                <nav class="navbar navbar-default" role="navigation" style='margin-top:10px'>
                <div class="navbar-header"> 
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">View Books:</a>
                </div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <ul class ="nav navbar-nav" >
                    <li class="{% if request.path_info == '/' %} active {% endif %}">
                    <a  href="/books/" >All</a> 
                    </li>
                    <li class="{% if request.path_info == '/romance/' %} active {% endif %}">
                    <a href="/books/romance/">By Meg</a> 
                    </li>
                    <li class="{% if request.path_info == '/erotica/' %} active {% endif %}">
                    <a href="/books/erotica/">By Cara</a> 
                    </li>
                    <li style="padding-left:40px; font-weight:bold">
                    <a href="/images/CaraMcKenna_booklist.pdf">Printable Book List</a>
                    </li>
                </ul>
                </nav>


                <div class="body" style="width:98%">
                    <h2> Nothing Here </h2>
                    <!-- BEGIN CONTENT, NO CHANGES ABOVE THIS LINE -->
                </div>
            </div>
        </div>
        <!-- END CONTENT, NO CHANGES BELOW THIS LINE -->


        <!-- content end --> 

        <!-- copyright start -->

        <div class="row content-wrap" style="	background-image: url('/images/bluecloth.jpg')" >
            <div class="col-xs-12">
                <div class="copyright"> © 2013 Cara McKenna&nbsp; | &nbsp;site design by the author </div>
            </div>
        </div>
    </div>


    <!--HEAD end -->


    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-8136074-3']);
        _gaq.push(['_trackPageview']);

        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();

     </script>

 </body>
     </html>
